appdirs==1.4.3
asn1crypto==0.22.0
blinker==1.4
cffi==1.10.0
click==6.7
coverage==4.3.4
cryptography==2.0.3
decorator==4.0.11
enum34==1.1.6
Flask==0.12
Flask-Login==0.4.0
Flask-OAuthlib==0.9.3
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
oauthlib==2.0.2
packaging==16.8
pbr==3.1.1
psycopg2==2.7.1
pycparser==2.18
pyOpenSSL==17.2.0
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.6
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
tweepy==3.5.0
Werkzeug==0.11.15
